html,body{
	margin:0;
	padding:0;
}
.row{
	margin-right:0px;
}
/*Navigation Bar*/
.top-navigation-panel1{
	background-color: #000000;
}
.navbar{
	background-color: #000000;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav li{
	font-size:22px;
}
.nav li:hover{
	background-color: #777777;
}
.navbar-right{
	display: inline-block;
	float: top;
	vertical-align: top;
}
/*Side navigation*/

#mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 10%;
    background-color: #4CAF50;
}

#blog {
    top: 20%;
    background-color: #2196F3;
}

#projects {
    top: 30%;
    background-color: #f44336;
}

#contact {
    top: 40%;
    background-color: #555
}
/*Profile*/
.profile{
	margin:-20px 0px 0px 0px;
	/*display:block;*/
	float:left;
	background-attachment: fixed;
	background-image: url("img/infotech.jpg");
	width:100%;
	height:500px;
}
.propic{
	width:250px;
	height:250px;
	position: relative;
	display:block;
}
.propic img{
	opacity: 1;
  	display: block;
	border-radius: 60%;
	transition: .5s ease;
  	backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  width:30%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.propic:hover .image {
  opacity: 0.3;
}
.propic:hover .middle {
  opacity: 1;
}
.text {
  background-color: #687174;
  color: white;
  font-size: 24px;
  padding: 16px 32px;
}

/*Transition*/
.transition{
	display:block;
	background-color:#9f9d9d;
	width:100%;
	height:80px;
    font-size:20px;
    text-align: center;
    padding-top:30px;
    margin-top:-10%;
}
/*Skillsets*/

.skillsets{
	background-position: -10%;
	background-image:url(img/tumblr_oa736cHNSZ1u6h176o1_500.gif);
	background-attachment: fixed;
}
.subject{
	background-color:#b3ffff;
}
#bars {
	margin: 2em auto;
	max-width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 20%;
	text-align: center;
}

.bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
/*Accordion*/
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*Projects*/
.projects{
	background-image: url("img/system.jpg");
	width:100%;
	height:800px;
	background-attachment: fixed;
}

/*carousel*/

.accordion2 {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
}
.accordion2 ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion2 ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion2 ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion2 ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion2 ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion2 ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion2 ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion2 ul li:nth-child(1) {
  background-image: url("http://michael-ferry.com/assets/accordion1.jpg");
}
.accordion2 ul li:nth-child(2) {
  background-image: url("http://michael-ferry.com/assets/accordion2.jpg");
}
.accordion2 ul li:nth-child(3) {
  background-image: url("http://michael-ferry.com/assets/accordion3.jpg");
}
.accordion2 ul li:nth-child(4) {
  background-image: url("http://michael-ferry.com/assets/accordion4.jpg");
}
.accordion2 ul li:nth-child(5) {
  background-image: url("http://michael-ferry.com/assets/accordion5.jpg");
}
.accordion2 ul li:nth-child(6) {
  background-image: url("http://michael-ferry.com/assets/accordion6.jpg");
}
.accordion2 ul:hover li {
  width: 8%;
}
.accordion2 ul:hover li:hover {
  width: 60%;
}
.accordion2 ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion2 ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion2 {
    height: auto;
  }
  .accordion2 ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}

/*Empty Spaces*/
.emptyspace{
	padding:80px;
}